frontend/src/api/**
**/product-spec.txt


__pycache__/**
**/__pycache__/**
**/node_modules/**  
**/dist/**
**/build/**
**/coverage/**
**/logs/**
**/temp/**

.env
.env.local
.env.development
.env.production
.env.test

.DS_Store
package-lock.json
yarn.lock
README.md

